@{
    ViewData["Title"] = "Error Page";
}
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg><br />
    <div>
        Error en la consulta
    </div>
    <a asp-controller="alumno" asp-action="Index"> a intentar</a>
</div>   

