@{
    ViewData["Title"] = "Exito page";
}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Bien Hecho</h4>
    <p>Se ha realizado la operacion correctamente</p>
    <hr>
</div>